### MyRedPy Configuration Settings
---

myredpy:

### Toggle application level debug (does not toggle framework debugging)
# debug: false

### Set the default redmine server url 
#  redmine_url: https://www.redmine.com

### Set the default redmine user key 
#  redmine_key: abcdfger1501610100

### Database file path
# db_file: ~/.myredpy/db.json

### Where external templates are loaded from
# template_dir: /var/lib/myredpy/templates/

### The log handler label
# log_handler: colorlog

### The output handler label
# output_handler: jinja2

log.colorlog:

### Where the log file lives (no log file by default)
# file: null

### The level for which to log.  One of: info, warning, error, fatal, debug
# level: info

### Whether or not to log to console
# to_console: true

### Whether or not to rotate the log file when it reaches `max_bytes`
# rotate: false

### Max size in bytes that a log file can grow until it is rotated.
# max_bytes: 512000

### The maximun number of log files to maintain when rotating
# max_files: 4
